body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header{
    background: rgba(229, 84, 115, 0.10);
}

p{
    color: #272727;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    height: auto;
}

h1{
    font-size: 50px;
}

.header-container img{
    width: 400px;
    margin-top: 50px;
    margin-bottom: -53px;
}

.heading p{
    margin-bottom: 30px;
}

