body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

p {
    color: #272727;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    height: auto;
}

h1 {
    font-size: 50px;
}

.header-container img {
    width: 400px;
    margin-top: 50px;
    margin-bottom: -53px;
}

.heading p {
    margin-bottom: 30px;
}

button {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;

    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

.flower-section {
    background: #FFF;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.flower-heading {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 180px;
}

.flower-section p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.flower-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.flower-container {
    width: 400px;
    height: 530px;
}

.flower-container p {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

.flower-img-1,
.flower-img-2,
.flower-img-3 {
    border-radius: 300px 300px 0px 0px;
}

.flower-img-1 {
    padding: 110px 80px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-img-2 {
    padding: 115px 45px 53px;
    background: rgba(5, 151, 160, 0.15);
}

.flower-img-3 {
    padding: 65px 75px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.our-service {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 128px 240px;
    height: 300px;
    align-items: center;
}

.our-service p {
    color: rgba(39, 39, 39, 0.80);
}

.signing-up {
    border-radius: 8px;
    background: rgba(216, 57, 92, 0.11);
    display: flex;
    justify-content: space-between;
    margin: 128px auto;
    align-items: center;
    padding: 100px;
    height: 400px;
}

.sign-up {
    text-align: center;
}

.sign-up h2 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.sign-up p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 32px;
}

.instagram {
    text-align: center;
    margin: 128px;
}

.insta-pic {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 50px 240px 128px;
}

.insta-pic img {
    width: 300px;
    border-radius: 4px;
}

.instagram h2 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.instagram p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.deal {
    text-align: center;
}

.latest-deal {
    margin: 50px 130px;
    background-image: url(../Flower-Asset/Rectangle-9.png);
    background-size: cover;
    width: 1200px;
}

.latest-deal h2 {
    padding-top: 120px;

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.latest-deal p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.deal-email {
    padding-bottom: 121px;
}

.input {
    border: none;
    border-radius: 5px;
    height: 70px;
    width: 500px;
}

::placeholder {
    padding-left: 20px;

    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.footer {
    padding-top: 90px;
    background-color: black;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 80px;
}

.footer h2 {
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.footer h6 {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.clients{
    background-color: rgba(247, 186, 195, 0.336);
    margin: 80px 150px;
    box-shadow: 5px;
}

.clients h3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.images{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 50px;
}
.img{
    align-items: center;
}